# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/
android/app/build/
android/build/
ios/Pods/
ios/build/

# Capacitor
android/.gradle/
android/.idea/
android/local.properties
ios/App/App.xcodeproj/xcuserdata

# Firebase
.env
.env.local
firebase-debug.log

# IDEs
.vscode/
.DS_Store

# OS
Thumbs.db



android/