@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --prim-col: #21272b;
  --secondary-col: #2b3237;
  --secondary-text-col: #606972;
  --secsec-text-col: #797979;
  --white: #fdfbf9;
}

.parent {
  padding-top: env(safe-area-inset-top);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: Poppins;
  max-width: 750px;
  /* height: 100vh; */
  padding-bottom: 7rem;
}

.accountWelcomeContainer {
  display: flex;
  flex-direction: column;
  /* gap: 1.5rem; */
  width: 100%;
  padding-top: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.heading {
  color: var(--white);
  text-align: center;
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 1rem;
}

.name {
  color: var(--white);
  font-size: 1.5rem;
}

.email{
  color: var(--secsec-text-col);
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.message, .spinnerContainer{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.buttonDiv{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.editButton{
  margin-top: 2rem;
  background-color: var(--secondary-col);
  color:var(--white);
  font-weight: 500;
  border: 2px solid var(--secondary-text-col);
}

.editButton:hover{
  color: var(--prim-col);
  background-color: var(--white);
  font-weight: 600;
}