@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --prim-col: #21272b;
  --secondary-col: #2b3237;
  --secondary-text-col: #606972;
  --secsec-text-col: #797979;
  --white: #fdfbf9;
}

.formContainer {
  display: flex;
  flex-direction: column;
  /* gap: 1.5rem; */
  width: 90%;
  padding-top: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 1rem;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 700px;
    gap: 1rem;
}

.textArea{
    margin-bottom: 1rem;
    height: 10rem;
      resize: vertical;
      max-height: 20rem;
      min-height: 4rem;
   

}