@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --prim-col: #21272b;
  --secondary-col: #2b3237;
  --secondary-text-col: #606972;
  --secsec-text-col: #797979;
  --white: #fdfbf9;
}

.weekDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.week {
  color: var(--secondary-text-col);
  font-family: Poppins;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.dayOfWeekSelectorContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  list-style: none;
  font-weight: 600;
  max-width: 45rem;
}
